@model Eproject3.Models.Users

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Users</h4>
    <h5 style="color:red">@ViewBag.cass</h5>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UPass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UPass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UAdress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UAdress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Img)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Img)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Exp_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exp_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Packs.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Packs.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Roles.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Roles.name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
